* {
  margin: 0;
  padding: 0;
}

.work-sans-font {
  font-family: "Work Sans", sans-serif;
}
.img-box {
  position: relative;
}

.content {
  position: absolute;
  top: 25%;
  left: 50%;
  max-width: 525px;
  text-align: right;
}
.content h1 {
  font-size: 65px;
  font-weight: bold;
  color: #151414;
}
.content p {
  font-size: 16px;
  font-weight: 400;
  color: #444343;
  line-height: 26px;
  margin-top: 24px;
  margin-bottom: 32px;
}
.btn {
  padding: 20px 25px;
  border: none;
  background-color: #f26b36;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}
